<#@ template language="C#" #>
<#@ include file="csProdHeader.tt" #>
<#@ parameter name="ReturnType" type="System.String" #>
<#@ parameter name="MethodName" type="System.String" #>
<#@ parameter name="MethodParameters" type="System.String" #>

<# if (ReturnType.Length != 0){#>
<#= ReturnType #> retVal = ctrl.<#= MethodName #>(<#= MethodParameters #>);
<#}#>
<#else{#>
ctrl.<#= MethodName #>(<#= MethodParameters #>);
<#}#>
