<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProdSessionConfiguration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProdSessionConfiguration.Properties.Settings>
            <setting name="TimeExample" serializeAs="String">
                <value>[10:12:32 AM]:</value>
            </setting>
            <setting name="TypeExample" serializeAs="String">
                <value>*Prod*</value>
            </setting>
            <setting name="AdditionalExample" serializeAs="String">
                <value>Additional Information=Set Text: Hello World</value>
            </setting>
            <setting name="MethodExample" serializeAs="String">
                <value>*Method=Click*</value>
            </setting>
            <setting name="MessageExample" serializeAs="String">
                <value>Button click verified</value>
            </setting>
        </ProdSessionConfiguration.Properties.Settings>
    </userSettings>
</configuration>