<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProdSpy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Eye.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ProdSpy.Properties.Settings>
      <setting name="ShowFocus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HighlightColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="AutoHighlight" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateNode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HighlightNode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CollapseGraph" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SessionDecl" serializeAs="String">
        <value>ProdSession session = new ProdSession();</value>
      </setting>
      <setting name="WindowDecl" serializeAs="String">
        <value>ProdWindow window = new ProdWindow("</value>
      </setting>
      <setting name="ElementDecl" serializeAs="String">
        <value> control = new </value>
      </setting>
      <setting name="ControlHandleDecl" serializeAs="String">
        <value>IntPtr hand = ProdFunctions.GetControlHandle(hWnd,"</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>x</value>
      </setting>
    </ProdSpy.Properties.Settings>
    <Eye.Properties.Settings>
      <setting name="ShowFocus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HighlightColor" serializeAs="String">
        <value>Red</value>
      </setting>
    </Eye.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>